{% extends 'base.html.twig' %}

{% block title %}Email verified{% endblock %}

{% block content %}
<h1>You're set!</h1>

<p class="lead">Thanks for verifying your email.</p>

<p>
    Next, you'll probably want to <a href="/login/begin">login</a>.
</p>
{% endblock %}