{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>About <small>Our Legacy</small></h1>
        <p class="lead">Coming soon.</p>
    </div>
</div>
{% endblock %}