{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% use '_motki_bg.html.twig' %}

{% block content %}
<h1>About <small>Our Legacy</small></h1>
<div class="row embiggen">
    <div class="col-sm-10">
        <p class="lead">Moritake Industries rose from the bitter salt of two veteran pilots.</p>
        <p>Along with a starry-eyed new pilot, the trio set out on a quest to gain a foothold in New Eden. Soon enough, more pilots joined the ranks and what is now a thriving corporation began to take shape.</p>
        <p>Eventually, MOTKI began supplying tech 2 modules in factional warfare low-sec. But The Bleak Lands was far away from Jita headquarters. The company then laid plans to build a vast freeport in heart of FW low-sec space, serving as a tiny market hub for the desolate region.</p>
    </div>
</div>
<div class="row embiggen">
    <div class="col-sm-5 pull-right">
        <img class="img-responsive" src="/images/freeport.jpg" title="Freeport Lovich, welcome to all!" alt="A screenshot of Freeport Lovich's description text">
        <p class="text-center small" style="margin-top: 5px">Visit us today!</p>
    </div>
    <div class="col-sm-7">
        <h2>Freeport</h2>
        <p>Moritake Industries anchored Freeport Lovich in Kamela in mid-YC119 and is proud to provide free cloning, corporate offices, and repair to the busy faction warfare region of The Bleak Lands. Freeport Lovich is also fitted with the latest in tech 2 component manufacturing, material efficiency research, and invention improvements.</p>
        <p>And what freeport is without a bustling market? MOTKI maintains a regular trade route between nearby market hubs to ensure the local community has all the gear necessary for great content-making.</p>
        <h2>Optimization</h2>
        <p>Early on, it was clear there was a great deal of potential in building software to help organize the average EVE corporation. An early proof-of-concept paved the way for a new generation of tools from human resources to production chain management. MOTKI has become a leader in custom software for all types of organizations.</p>
        <h2>Present and future</h2>
        <p>Moritake Industries remains a reliable provider of tech 2 modules and ships. Though the future is always mysterious and full of surprises, the team at MOTKI remains diligent.</p>
        <div style="margin-top: 30px" class="callout callout-info">
            <h4 style="font-size: 1.5em">Interested in working together?</h4>
            <p>Contact a MOTKI representative for more information.</p>
        </div>

    </div>
</div>
{% endblock %}