{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% use '_motki_bg.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="row embiggen">
            <div class="col-xs-12">
                <h1>Moritake Industries <small>EVE Online Corp</small></h1>
                <p class="lead">Moritake Industries is a leader in all aspects of commerce.</p>
                <p>
                    MOTKI is a growing corporation headquartered in Domain. Industry leaders in manufacturing, research, trade, software, and logistics,
                    Moritake Industries is capable of delivering effective solutions to all of your commerce needs.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="callout callout-warning">
                    <h4>Manufacturing</h4>
                    <p>Moritake Industries is a leading manufacturer of faction warfare fits and tech II ships and equipment.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="callout callout-info">
                    <h4>Software</h4>
                    <p>Moritake Industries specializes in cutting edge software technologies custom tailored for your needs.</p>
                </div>
            </div>
        </div>
        <div class="row embiggen">
            <div class="col-xs-12">
                <h2>Public Services</h2>
                <p>The team at MOTKI is proud to provide two relatively new freeport stations in the Kamela system. Freeport Lovich and a sister refinery called So Refine are public outposts with facilities including refining, manufacturing, research, invention, and moongoo reactions.</p>
                <table class="table table-bordered">
                    <thead style="background-color: #3a3f44">
                    <tr>
                        <th class="text-right">Service</th>
                        <th class="text-center">Kamela - Freeport Lovich</th>
                        <th class="text-center">Kamela - So Refine</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-right">Docking, tethering, repair</td>
                        <td class="text-center"><strong>FREE</strong></td>
                        <td class="text-center"><strong>FREE</strong></td>
                    </tr>
                    <tr>
                        <td class="text-right">Corporate offices</td>
                        <td class="text-center"><strong>FREE</strong></td>
                        <td class="text-center"><strong>FREE</strong></td>
                    </tr>
                    <tr>
                        <td class="text-right">Medical and jump clones</td>
                        <td class="text-center"><strong>FREE</strong></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <th class="text-right">Manufacturing</th>
                        <td class="text-center">0.1% base fee</td>
                        <td class="text-center"></td>
                    </tr>
                    <tr style="background-color: #3a3f44">
                        <td class="text-right">T2 Component Bonus (<strong style="font-size: 1.1em" class="text-info">-4.8%</strong> Mat. requirement)</td>
                        <td class="text-center">&#x2714;</td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <th class="text-right">Blueprint Research</th>
                        <td class="text-center">0.1% base fee</td>
                        <td class="text-center"><strong>FREE</strong></td>
                    </tr>
                    <tr style="background-color: #3a3f44">
                        <td class="text-right">ME Research Time Bonus (<strong style="font-size: 1.1em" class="text-success">-58.8%</strong> duration)</td>
                        <td class="text-center">&#x2714;</td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <th class="text-right">Invention</th>
                        <td class="text-center">0.1% base fee</td>
                        <td class="text-center"></td>
                    </tr>
                    <tr style="background-color: #3a3f44">
                        <td class="text-right">Time Efficiency Bonus (<strong style="font-size: 1.1em" class="text-success">-58.8%</strong> duration)</td>
                        <td class="text-center">&#x2714;</td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <th class="text-right">Refining</th>
                        <td class="text-center"></td>
                        <td class="text-center">0.1% base fee</td>
                    </tr>
                    <tr style="background-color: #3a3f44">
                        <td class="text-right">Ore Reprocessing (<strong style="font-size: 1.1em" class="text-info">69.5%</strong> base efficiency)</td>
                        <td class="text-center"></td>
                        <td class="text-center">&#x2714;</td>
                    </tr>
                    <tr style="background-color: #3a3f44">
                        <td class="text-right">Ice Reprocessing (<strong style="font-size: 1.1em" class="text-info">69.5%</strong> base efficiency)</td>
                        <td class="text-center"></td>
                        <td class="text-center">&#x2714;</td>
                    </tr>
                    <tr>
                        <th class="text-right">Reactions</th>
                        <td class="text-center"></td>
                        <td class="text-center">0.2% base fee</td>
                    </tr>
                    <tr style="background-color: #3a3f44">
                        <td class="text-right">Composite Reactions (<strong style="font-size: 1.1em" class="text-success">-2.0%</strong> Mat. requirement)</td>
                        <td class="text-center"></td>
                        <td class="text-center">&#x2714;</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <td></td>
                    <td colspan="2" class="text-center">
                        <small>* Bonuses listed exclude your character's skills.</small>
                    </td>
                    </tfoot>
                </table>
                <p>Moritake Industries takes pride in maintaining a valuable hub for the region. We are committed to ensuring that all pilots with any affiliation are welcome at Freeport Lovich and So Refine.</p>
                <div class="callout-info">
                    <h4>Visit us in Kamela today!</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="row">
            <div class="col-xs-3 col-sm-6">
                <img class="img-responsive" src="/images/Icons/items/18_128_2.png" title="Manufacturing">
            </div>
            <div class="col-xs-3 col-sm-6">
                <img class="img-responsive" src="/images/Icons/items/33_128_2.png" title="Research">
            </div>
            <div class="col-xs-3 col-sm-6">
                <img class="img-responsive" src="/images/Icons/items/32_128_1.png" title="Logistics">
            </div>
            <div class="col-xs-3 col-sm-6">
                <img class="img-responsive" src="/images/Icons/items/18_128_1.png" title="Commerce">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 callout callout-borderless">
                <h4>Need doctrine manufacturers?</h4>
                <p>Moritake Industries is a proven manufacturer and sourcer of tech II small ships, modules, ammo, and drones.</p>
                <p>MOTKI can deliver fitted doctrine ships on time and for a very competitive cost.</p>
                <p class="embiggen"><strong>Contact a MOTKI representative today!</strong></p>
            </div>
            <div class="col-xs-12 callout callout-borderless">
                <address>
                    <strong>MOTKI</strong><br>
                    <small>Amarr VIII</small><br>
                    <small>Emperor Family Academy</small>
                </address>
            </div>
        </div>
    </div>
</div>
{% endblock %}