{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% use '_motki_bg.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="row embiggen">
            <div class="col-xs-12">
                <h1>Moritake Industries <small>EVE Online Corp</small></h1>
                <p class="lead">Moritake Industries specializes in all aspects of commerce applications.</p>
                <p>
                    MOTKI is a growing corporation headquartered in Domain. Industry leaders in manufacturing, research, trade, software, and logistics,
                    Moritake Industries is capable of delivering effective solutions to all of your commerce needs.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="callout callout-warning">
                    <h4>Manufacturing</h4>
                    <p>Moritake Industries is a leading manufacturer of faction warfare fits and tech II ships and equipment.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="callout callout-info">
                    <h4>Software</h4>
                    <p>Moritake Industries specializes in cutting edge software technologies custom tailored for your needs.</p>
                </div>
            </div>
        </div>
        <div class="row embiggen">
            <div class="col-xs-12">
                <h2>Presenting Freeport Lovich</h2>
                <p>The team at MOTKI is proud to provide a relatively new freeport station to the Kamela system. Freeport Lovich is a public outpost with facilities ranging from a busy market, medical clones, repairs, manufacturing, research, all the way to invention.</p>
                <p>Moritake Industries takes pride in maintaining a valuable hub for the region. We are committed to ensuring that all pilots with any affiliation are welcome at Freeport Lovich.</p>
                <p style="font-size: 1.5em">Visit <strong>Freeport Lovich</strong> in <strong>Kamela</strong> today!</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="row">
            <div class="col-xs-3 col-sm-6">
                <img class="img-responsive" src="/images/Icons/items/18_128_2.png" title="Manufacturing">
            </div>
            <div class="col-xs-3 col-sm-6">
                <img class="img-responsive" src="/images/Icons/items/33_128_2.png" title="Research">
            </div>
            <div class="col-xs-3 col-sm-6">
                <img class="img-responsive" src="/images/Icons/items/32_128_1.png" title="Logistics">
            </div>
            <div class="col-xs-3 col-sm-6">
                <img class="img-responsive" src="/images/Icons/items/18_128_1.png" title="Commerce">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 callout callout-borderless">
                <h4>Need doctrine manufacturers?</h4>
                <p>Moritake Industries is a proven manufacturer and sourcer of tech II small ships, modules, ammo, and drones.</p>
                <p>MOTKI can deliver fitted doctrine ships on time and for a very competitive cost.</p>
                <p class="lead">Contact us today to discuss your fleet's needs.</p>
            </div>
            <div class="col-xs-12 callout callout-borderless">
                <address>
                    MOTKI<br>
                    <small>Amarr VIII</small><br>
                    <small>Emperor Family Academy</small>
                </address>
            </div>
        </div>
    </div>
</div>
{% endblock %}