{% extends 'base.html.twig' %}

{% block title %}Press{% endblock %}

{% use '_motki_bg.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="row embiggen">
            <div class="col-xs-9">
                <h1>Press Releases</h1>
            </div>
        </div>
        <div class="row embiggen">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-center">Moritake Industries opens second freeport in Kamela</h2>
                <p><strong>KAMELA &mdash; NOV 15, YC119 &mdash;</strong> Moritake Industries [MOTKI] today unveiled a second freeport station in Kamela system, the constantly active warzone. A refinery named So Refine joins the already almost one year old Freeport Lovich in what Moritake Industries calls a boon to the local population.</p>
                <p>"MOTKI is proud to provide the complete gamut of commercial amenities to the region, alleviating the amount of time capsuleers must spend in high security space," said Veonik Moritake, CEO of Moritake Industries. "Kamela has always had a certain beauty, and we're at the forefront of making it a viable, profitable area in New Eden."</p>
                <p>Between both stations, enterprising capsuleers can make use of medical and jump cloning, corporate offices, tethering and free repair, manufacturing, research and invention, ore and ice processing, and moon mining reactions. Moritake Industries charges a base fee of 0.1% for most services, excepting moon mining reactions at 0.2% and free, unbonused research at So Refine.</p>
                <p>Moritake Industries, a privately held corporation formed earlier in YC119, has established market activities in Domain, The Bleak Lands, and Heimatar. The company is known best for its "MOTKI-brand" Tech 2 Adaptive Invulnerability Fields and hull production with agreements with many well-known organizations such as Carthum Conglomerate, Core Complexion, Khanid Innovation, and Lai Dai.</p>
            </div>
        </div>
        <div class="row embiggen">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-center">Moritake Industries expands operations to Heimatar</h2>
                <p><strong>AUGA &mdash; SEP 9, YC119 &mdash;</strong> Moritake Industries [MOTKI] today announced several expansions with the most notable the opening of a storefront in Heimatar.</p>
                <p>"Moritake Industries has provided these war-stricken areas with vital commerce; with medical supplies and food," said Takeshi Gorou, a Moritake Industries representative. "And now, MOTKI can move these goods efficiently into Heimatar, providing low-cost solutions for those who were often at the mercy of enemy factions."</p>
                <p>Moritake Industries maintains a neutral, if not somewhat difficult, relationship with both Amarr and the Minmatar, in what, it says, is a new and hopeful standard of relations between the two opposing factions. </p>
                <p>Moritake Industries, founded in May YC119, is registered in Domain and licensed to operate in The Bleak Lands, Domain, and Heimatar.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <a href="#" class="btn btn-primary disabled">&lt; Newer</a>
                <a href="/press/yc119/h1" class="btn btn-primary">Older &gt;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}