{% extends 'base.html.twig' %}

{% block title %}Press{% endblock %}

{% use '_motki_bg.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="row embiggen">
            <div class="col-xs-9">
                <h1>Press Releases</h1>
            </div>
        </div>
        <div class="row embiggen">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-center">Moritake Industries to withdraw from Heimatar</h2>
                <p><strong>AUGA &mdash; JUL 20, YC120 &mdash;</strong> Moritake Industries [MOTKI] is closing its Heimatar-based operations in Auga after struggling to find a foothold, citing the recent economic downturn affecting the region.</p>
                <p>"We are committed to doing the very best-- that means knowing your limits," said Veonik Moritake, CEO of MOTKI. "Moritake Industries will ramp down and withdraw from Auga over the next several weeks with some selling of assets early next month."</p>
                <p>The company published quarterly regional financials last week, reporting the third quarter in a row of losses since beginning operations in Auga. "Our projections did not pan out, and the continued expense of operating in Heimatar seems, at this point, needless."</p>
                <p>Moritake Industries, founded in YC119, is a leading producer and supplier of small ships and ship modules in Domain and The Bleak Lands.</p>
            </div>
        </div>
        <div class="row embiggen">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-center">Moritake Industries opens second freeport in Kamela</h2>
                <p><strong>KAMELA &mdash; NOV 15, YC119 &mdash;</strong> Moritake Industries [MOTKI] today unveiled a second freeport station in Kamela system, the constantly active warzone. A refinery named So Refine joins the already almost one year old Freeport Lovich in what Moritake Industries calls a boon to the local population.</p>
                <p>"MOTKI is proud to provide the complete gamut of commercial amenities to the region, alleviating the amount of time capsuleers must spend in high security space," said Veonik Moritake, CEO of Moritake Industries. "Kamela has always had a certain beauty, and we're at the forefront of making it a viable, profitable area in New Eden."</p>
                <p>Between both stations, enterprising capsuleers can make use of medical and jump cloning, corporate offices, tethering and free repair, manufacturing, research and invention, ore and ice processing, and moon mining reactions. Moritake Industries charges a base fee of 0.1% for most services, excepting moon mining reactions at 0.2% and free, unbonused research at So Refine.</p>
                <p>Moritake Industries, a privately held corporation formed earlier in YC119, has established market activities in Domain, The Bleak Lands, and Heimatar. The company is known best for its "MOTKI-brand" Tech 2 Adaptive Invulnerability Fields and hull production with agreements with many well-known organizations such as Carthum Conglomerate, Core Complexion, Khanid Innovation, and Lai Dai.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <a href="#" class="btn btn-primary disabled">&lt; Newer</a>
                <a href="/press/yc119/h1" class="btn btn-primary">Older &gt;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}