{% extends 'base.html.twig' %}

{% block title %}Press{% endblock %}

{% use '_motki_bg.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="row embiggen">
            <div class="col-xs-9">
                <h1>Press Releases</h1>
            </div>
        </div>
        <div class="row embiggen">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-center">Moritake Industries opens public station in Kamela</h2>
                <p><strong>KAMELA &mdash; JUN 28, YC119 &mdash;</strong> Moritake Industries [MOTKI] has announced the opening of a new freeport in the warzone system of Kamela. According to MOTKI, the station provides valuable new opportunities to the struggling region.</p>
                <p>"MOTKI has never been one to profit from war, and we want to instead provide opportunity to those who are forced to live in a seemingly forever-fraught warzone," said Veonik Moritake, CEO of Moritake Industries. "Kamela is widely known as a busy warzone, so we think establishing business here will provide immense value for us and, we hope, immense value to the locals."</p>
                <p>Freeport Lovich, the new Azbel online in Kamela, contains facilities for many different entrepreneurial pursuits, including free cloning, corporate offices, and repair. In addition, paid services such as market orders, manufacturing, research, and invention are available with a base fee 0.1%.</p>
                <p>Moritake Industries recently established headquarters in the region of Domain, with The Bleak Lands being a clear next target. MOTKI has contracts with many local corporations including Ducia Foundry and Viziam, and has recently held charity events and programs for the population Kamela V.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <a href="/press" class="btn btn-primary">&lt; Newer</a>
                <a href="#" class="btn btn-primary disabled">Older &gt;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}