{% extends 'base.html.twig' %}

{% block title %}Recruitment{% endblock %}

{% block content %}

<div class="row" style="margin-top: -20px; background-image: url('/images/astra.jpg'); background-position: center; text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000; min-height: 250px; margin-bottom: 20px">
    <div class="col-md-8">
        <h1 style="text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000">Recruitment <small>Join today!</small></h1>
        <p class="lead">Moritake Industries is looking for new members of all trades.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <p>MOTKI is a PVP and industry oriented corporation with an active presence across Domain and The Bleak Lands.</p>
        <p>We are a laid-back group of internet spaceship pilots looking to create a bit of interesting content. With several pilot-oriented programs such as skillbook and ship reimbursement and ore buyback, we are the perfect place to call home.</p>
        <p style="font-size: 1.1em;">Contact <strong>Belatrex Dastrike</strong> in-game or join the <strong>motki-pub</strong> channel.</p>
    </div>
</div>
{% endblock %}