{% extends 'base.html.twig' %}

{% block title %}Unsubscribed{% endblock %}

{% block content %}
<h1>Unsubscribed</h1>

<p class="lead">Your email address has been added to our Do Not Send list.</p>

<p>We won't send you anymore email. Sorry for any inconvenience.</p>
{% endblock %}