{% extends 'base.html.twig' %}

{% block title %}400 Bad Request{% endblock %}

{% use '_motki_bg.html.twig' %}

{% block content %}
<h1>400 <small>Bad Request</small></h1>
<h3>Sorry, friend. That request didn't make sense.</h3>
{% endblock %}