{% extends 'base.html.twig' %}

{% block title %}403 Forbidden{% endblock %}

{% use '_motki_bg.html.twig' %}

{% block content %}
<h1>403 <small>Forbidden</small></h1>
<h3>Looks like you're not allowed to do that.</h3>
<p>It's possible your corporation has not opted-in to data collection, or your selected character doesn't have the correct roles. This error may occur when you link a non-Director EVE character as a Director in motki, for example.</p>
<p>See our <a href="/privacy">Privacy Policy</a>. If you are Director or CEO, you can opt-in your corporation via <a href="/account/manage-corp">Corporation Management</a>.</p>
<p>Visit <a href="/account/my-characters">Authorization Management</a> to view and change your designated characters.</p>
{% endblock %}