{% extends 'base.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% use '_motki_bg.html.twig' %}

{% block content %}
<h1>404 <small>Not Found</small></h1>
<h3>The page cannot be found.</h3>
{% endblock %}