{% extends 'base.html.twig' %}

{% block title %}500 Internal Server Error{% endblock %}

{% block content %}
<h1>500 <small>Internal Server Error</small></h1>
<h3>Woops. Something's not right.</h3>
<p>Sorry about that.</p>
<p>If you would like help with your problem, please feel free to <a href="https://github.com/motki/motki-server/issues/new">open an issue</a> on GitHub.</p>
{% endblock %}